node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
dist/
build/
coverage/
docs/BACKEND_ARCHITECTURE.md
implimentation_plan.md
architeecturefullstack.md
implimentation_plan1.md
frontend_Architecture.md